@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,800;1,400;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
font-family: 'Archivo Black', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;

*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f1f2f2;
}

.short-description {
  max-height: 5rem;
  overflow: hidden;
}

.full-description {
  max-height: none;
  overflow: visible;
}
/* mt-1 text-sm text-gray-700 */
